* {
  margin-left: 20px;
    box-sizing: border-box;
  }
  h2 {
    margin-top: 20px;
    text-align: center;
  }
  p{
    margin-top: 20px;
    text-align: center;
    color: brown;
  }
  img {
    margin-top: 10px;
    display: block;
    width: 150px;
    float: left;
    height: 150px;
    border: 2px solid lightblue;
  }
  #image-container {
    padding-left: 120px;
    border: 2px solid rgb(175, 10, 10);
    width: 700px;
    margin: 0 auto;
    height: 175px;
  }
  #leftImg,
  #rightImg,
  #middleImg {
    width: 150px;
     display: block;
    margin: 0 auto;
    border-radius: 10px; 
   margin-right: 10px;
  }
  span {
    margin-left: 50px;
  }
  #attempts {
    margin-left: 20px;
    font-size: 30px;
  }
  #results {
      margin-left: 20px;
      margin-bottom: 20px;
  }
